h3 {
    color: black;
    text-align: left;
    font-size: 25px;
    }
li {
    color: black;
    text-align: left;
    font-size: 15px;
    }


footer p {
	font-size:220%;
	text-align:center;
}

.iconof{
	font-size:40px;
	color:blue;
	
}
.iconoi{
	font-size:40px;
	color:Black;
	
}
.iconog{
	font-size:40px;
	color:red;
	
}
.iconos{
	font-size:40px;
	color:yellow;
	
}
.iconot{
	font-size:40px;
	color:baby-blue;
}
.iconow{
	font-size:40px;
	color:green;
}