h3 {
    color: black;
    text-align: left;
    font-size: 25px;
    }
li {
    color: black;
    text-align: left;
    font-size: 15px;
    }


footer p {
	style="font-size:220%;
	text-align:center;"
}
